/* Universal Seclector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Shared Styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;

}
.color-orange {
  color: #FD6E0A;
}
.btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  /* margin-right: 30px; */
  border-radius: 5px;
  cursor: pointer;
}
.btn-one {
  color: #FD6E0A;
  font-size: 20px;
  font-weight: bold;
  background-color: #FFF8F3;
  border: 1px solid #FD6E0A;
  padding: 18px 35px;
  border-radius: 5px;
  cursor: pointer;
}


.section-heading {
  max-width: 827px;
  align-items: center;
}
.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
}

/* Main Style  */
header {
  background-color: #FFF8F3;
  padding-top: 51px;
  background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3 ;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav {
  width: 70%;
  max-width: 1249px;
  margin: 0 auto;
  display: flex;
  justify-content:  space-between;
}
nav .menu {
  display: flex;
  gap: 51px;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
}
nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

#hero-banner {
  margin: 46px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-banner .banner-content {
    max-width: 585px;
}

#hero-banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#hero-banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#hero-banner .banner-content p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

#hero-banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}


/* Section */
#about {
  padding-top: 130px;

}
#about .about-container {
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4 {
    font-size: 20px;
}
